.form {
  position: relative;
  top: 100px;
  height: 455px;
}
.form form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  margin: auto;
  padding: 20px 0;
  border: 1px solid #000;
  border-radius: 15px;
}
.form form input,
.form form button {
  display: block;
  width: 250px;
  margin: -5px auto;
  padding: 5px 15px;
  font-size: 20px;
  border-radius: 15px;
  border-width: 1px;
  outline: none;
}
.form button.butt {
  display: block;
  margin: 0 auto;
}
.form button:hover {
  background-color: green;
  color: #fff;
}
span.success {
  font-size: 25px;
  text-align: center;
  display: block;
  font-weight: bold;
  color: green;
}
